body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px 100px;
    background-color: #F9E0AE;
}

header{
    margin-bottom: 40px;
    position: relative;
}

.logo {
    display: flex;
    align-items: center; 
    position: absolute;
    top: 20px;
    left: 40px;
}

.logo img {
    width: 90px;
    height: 120px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.logo h1 {
    color: #B14000;
    font-size: 50px;
    margin: 0px;
}

.logo p {
    margin: 0px;
    color: #B14000;
    font-size: 15px;
}


.container {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}

.audio_sentence{
    margin-left: 40px;
}

.flexbox {
    display: flex;
    flex-direction: column;
}

.textbox {
    width: 470px;
    height: 280px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    padding: 20px;
}

.flexbox h2 {
    margin-top: 0px;
    color: #682C0E;
    font-size: 20px;
    margin: 0px;
}

.textbox textarea {
    width: 450px;
    height: 260px;
    padding: 30px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0px;
    left: 0px;
    color: black;
    font-size: 15px;
}

.analysis-btn,
.make-btn {
    padding: 10px 20px;
    background-color: #D9D9D9;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    
}

.voice-btn {
    color: black;
    background-color: #fff;
    border: none;
    cursor: pointer;
    
}

#startBtn{
    position: absolute;
    top: 30px;
    right: 100px;
}

#stopBtn{
    position: absolute;
    top: 30px;
    right: 30px;
}

.voice-btn i {
    font-size: 50px; 
}

.make-btn,
.analysis-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.practice {
    width: 470px;
    height: 280px;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
}


.practice p {
    color: #682C0E;
    font-size: 15px;
    margin: 10px;
}

.practice img {
    position: absolute;
    top: -290px;
    right: -70px;
    z-index: -1;
}

.fa-volume-high,
.fa-teamspeak {
    display: flex;
    width: 25px; 
    height: 18px;
    color: #682C0E;
}

.wflex {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}

audio{
    margin: 10px 0px;
}

#modalWrap {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
}

#modalBody {
    width: 515px;
    height: 340px;
    padding: 20px;
    margin: 0;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F9E0AE;
    display: flex;
    align-items: center;
}

#closeBtn {
    font-weight: 100;
    font-size: 50px;
    color: #B14000;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: -60px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F9E0AE;
    text-align: center;
    line-height: 50px;
}

.modalContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.modalLogo img {
    width: 200px;
    height: auto;
    transform: scaleX(-1);
    margin-top: 10px;
}

.modalFlexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%; 
}

.modalFlexbox img{
    width: 275px;
    height: auto;
    margin-top: 10px;
}

.modalFlexbox h4,
.modalFlexbox h2{
    margin: 0px 0px 10px 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #B14000;
}  