<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>올투리</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="로고 이미지">
            <div class="flexbox">
                <h1>올투리</h1>
                <p> 올바른 사투리 배우기</p>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="flexbox">
                <h2>올투리 들어보기</h2>
                <div class="textbox">
                    <textarea placeholder="문장을 입력해 주세요."></textarea>
                    <button class="make-btn">올투리 생성하기</button>
                </div>
            </div>
            <div class="flexbox">
                <h2>올투리 연습하기</h2>
                <div class="practice">
                    <p>오른쪽 마이크를 클릭하여 사투리를 녹음한 뒤,<br/> 정확도를 확인해보세요!</p>
                    <button class="voice-btn">음성 입력</button>
                    <button class="analysis-btn">정확도 분석하기</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
