<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://kit.fontawesome.com/3a115195d8.js" crossorigin="anonymous"></script>
    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>올투리</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="로고 이미지">
            <div class="flexbox">
                <h1>올투리</h1>
                <p> 올바른 사투리 배우기</p>
            </div>
        </div>
    </header>
    <main>
        <div class="box">
        <div class="container">
            <div class="flexbox">
                <div class="wflex">
                    <i class="fa-solid fa-volume-high"></i>
                    <h2>올투리 들어보기</h2>
                </div>
                <div class="textbox">
                    <form action="/synthesize" method="post">
                        <textarea id="input-textarea" name='sentence' placeholder="문장을 입력해 주세요." required></textarea>
                        <button type="submit" class="make-btn" id="submit-btn">
                            <i class="fa-solid fa-wand-magic-sparkles"></i> 올투리 생성하기
                        </button>                    
                    </form>
                </div>
            </div>
            <div class="flexbox">
                <div class="wflex">
                    <i class="fa-brands fa-teamspeak"></i>
                    <h2>올투리 연습하기</h2>
                </div>
                <div class="practice">
                    <p>오른쪽 마이크를 클릭하여 <br/> 사투리를 녹음한 뒤, 정확도를 확인해보세요!</p>
                    <audio controls autoplay></audio> 
                    
                    <button class="analysis-btn" id="analysis-btn" ><i class="fa-solid fa-robot"></i> 정확도 분석하기</button>

                    <button class="voice-btn" id="startBtn"><i class="fa-solid fa-microphone"></i></button> 
                    <button class="voice-btn" id="stopBtn"><i class="fa-solid fa-stop"></i></button>                              
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="배경로고사진">
                </div>
                
                
            </div>
        </div>
        <div class="audio_sentence">
            {% if audio_url %}
                        <audio controls>
                            <source src="{{ audio_url }}" type="audio/wav">
                        </audio>
                        <div class="sentence">{{sentence}}</div>
            {% endif %}
        </div>
        </div>
        </div>
    </main>
      <div id="modalWrap">
        <div id="modalBody">
          <span id="closeBtn">X</span> 
          <div class="modalContainer">
            <div class="modalLogo">
                <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="배경로고사진">
            </div>
            <div class="modalFlexbox">
                <h2 id="result"> <span id="similarity"></span></h2>
                <h4>당신은 아직 서울 사람... ㅡ.ㅡ</h4>
                <img src="{{ url_for('static', filename='images/graph.png') }}" alt="배경로고사진">
            </div>
        </div>
        </div>
      </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
