<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://kit.fontawesome.com/3a115195d8.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>올투리</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
        <!-- 모달창 -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="close-modal-btn" class="close-modal-btn">&times;</span>
            <p>모달 내용을 여기에 추가합니다.</p>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
